:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Others */
}

/* =========== */
/* Base styles */
/* =========== */
body {
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.desc {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
}
.link {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em;
  text-decoration: none;
}
.list {
  list-style: none;
}

/* ====== */
/* Header */
/* ====== */
.header {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.header-logo-part {
  color: var(--color-navy-blue);
}
.footer-logo-part {
  color: var(--color-cloud);
}
.nav-item {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contacts-list {
}
.contacts-link {
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-phone {
}

/* ========== */
/* Hero image */
/* ========== */
.hero {
  background-color: var(--color-navy-blue);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.features {
}
.visually-hidden {
}
.features-list {
}
.features-item-strategy {
}
.subtitle {
}
.desc {
}
.features-item-punctuality {
}
.features-item-diligence {
}
.features-item-subtitle {
}
.preview {
}
.preview-title {
  text-align: center;
}
.title {
}
.preview-list {
}
.preview-item {
}

/* ========= */
/* Team list */
/* ========= */
.team {
  background-color: #f4f4fd;
  text-align: center;
}
.team-title {
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-desc {
}
.footer {
  background-color: var(--color-navy-blue);
}
.logo {
}
.logo-part {
}
.footer-desc {
}
.projects {
}
.visually-hidden {
}
.filters-list {
}
.filters-item :hover {
  color: #ffffff;
  background-color: #404bbf;
}
.filters-item :focus {
  color: #ffffff;
  background-color: #404bbf;
}
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.projects-list {
}
.projects-item {
}
.subtitle {
}
.desc {
}
